/* set a background image */
body {
  background: url('images/bg-img-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* change the color of active or hovered links */
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
  color:white;
  background:cornflowerblue;
}

.navbar {
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* change color of headings */
h3, h5 {
  color:rgb(28,100,149);
} 

/* add style to text */
p {
  text-align: justify;
  padding-top: 10px;
  text-indent: 20px;
}

.img-in-text {
  float: left;
  margin: 7px 7px 7px 0;
  width: 350px;
}

/* add hover style over picture preview */
a:hover img {
  border: 1px solid;
}

.vis-sum {
  padding-top: 8.5px;
}

/* add style to the Data table */
table {
  margin-top: 20px;
  margin-bottom: 50px;    
}

td, th {
  padding: 10px;
  text-align: center;
}

